.projects-container {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

@media (width <= 730px) {
	.projects-container {
		margin-bottom: 40px;
	}
}
